
.title{
    text-align: center;
    margin-top: 40px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
    text-decoration: underline;
    text-decoration-color: #ffbc0d;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;

}

.title2{
    margin-top: 90px;
    margin-bottom: 40px; 
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
    text-align: center;    
    font-size: 38px;
    
}
.GpsInfoBox{
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 10px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.171));

}
.InfoBox{
    width: 300px;
    background-color: #ffffff;
    height: 300px;

 
    
}

.undirlen{
    text-decoration: underline;
    text-decoration-color: #ffbc0d;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.GpsBox{
    width: 300px;
    float: right;
    height: 300px;

}
.lapgps{
    width: 300px;
    height: 300px;
}

.listcim{
    text-align: center;
    margin-top: 80px;
    font-size: 33px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
}
.list{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
}   
.das{
    width: 1170px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    border-radius: 7px;

}
.gomb{
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #ffbc0d;
    border-radius: 10px;
    color: #000000;

    text-decoration: none;

    font-weight: 500;
    font-style: normal;

    transition: background-color 0.2s;
}

.gomb:hover{
    text-decoration: none;
    background-color: #c8920c;
    color: #ffffff;
}
.jobbra{
    float: right;
    height: 250px;
}
.tolo{
    margin-bottom: 40px;
    margin-top: 30px;
}

.tolofonnkevesebb {
    margin-top: 50px;
}
@media only screen and (max-width: 720px) {
    .GpsInfoBox{
        width: 300px;
        height: 500px;
        display: block;
    }
    .listcim{
        margin-top: 0px;
    }

    .InfoBox{
        width: 300px;
       
        height: 200px;
    
        padding-top: 35px;
        
    }
}

@media screen and (max-width: 1225px) {
    .lines{
        display: block;
        width: 100%;
        height: 100%;
    }
    .das{

        display: block;
        width: 100%;
        margin-right: 20px; 
        margin-left: 20px;
        
    }

    .jobbra{
      margin-right: 40px;
      
    }
 


}