
.title{
    text-align: center;
    margin-top: 30px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
}
.GpsInfoBox{
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.274));

}
.InfoBox{
    width: 300px;
    background-color: #f8f4da;
    height: 300px;

 
    
}

.GpsBox{
    width: 300px;
    float: right;
    height: 300px;

}
.lapgps{
    width: 300px;
    height: 300px;
}

.listcim{
    text-align: center;
    margin-top: 80px;
    font-size: 35px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
}
.list{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
}   



@media only screen and (max-width: 720px) {
    .GpsInfoBox{
        width: 300px;
        height: 500px;
        display: block;
    }
    .listcim{
        margin-top: 0px;
    }

    .InfoBox{
        width: 300px;
       
        height: 200px;
    
        padding-top: 35px;
        
    }
}