body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
.ONavbar{
    width: 100%;
    height: 60px;
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(202, 202, 202);
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    
}
.ONvbarimg{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.ONavbarA{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    transition: font-weight 0.1s;
}
.ONavbarA:hover{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
